cmake_install.cmake
Makefile
CMakeFiles/
*.so
*.so.*
/CMakeCache.txt
/Doxyfile
/config.h
/taglib.pc
/tests/test_runner
/taglib_config.h
/taglib-config
/bindings/c/taglib_c.pc
/examples/framelist
/examples/strip-id3v1
/examples/tagreader
/examples/tagreader_c
/examples/tagwriter

