cmake_install.cmake
cmake_uninstall.cmake
Makefile
CTestTestfile.cmake
CMakeFiles/
*.so
*.so.*
*.dylib
*.vcproj
*.ncb
*.sln
*.suo
*.user
.*
*~
/CMakeCache.txt
/Doxyfile
/config.h
/taglib.pc
/tests/test_runner
/tests/Testing
/taglib/libtag.a
/taglib_config.h
/taglib-config
/bindings/c/libtag_c.a
/bindings/c/taglib_c.pc
/bindings/c/Debug
/bindings/c/MinSizeRel
/bindings/c/Release
/bindings/c/tag_c.dir/Debug
/bindings/c/tag_c.dir/MinSizeRel
/bindings/c/tag_c.dir/Release
/examples/framelist
/examples/strip-id3v1
/examples/tagreader
/examples/tagreader_c
/examples/tagwriter
/doc/html
/taglib/Debug
/taglib/MinSizeRel
/taglib/Release
/taglib/tag.dir/Debug
/taglib/tag.dir/MinSizeRel
/taglib/tag.dir/Release
/ALL_BUILD.dir
/ZERO_CHECK.dir
taglib.h.stamp
taglib.xcodeproj
CMakeScripts
/out/build/x64-Debug/bindings/c
/out/build/x64-Debug/doc
/out/build/x64-Debug/taglib
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug
/taglib/ttaglib.cpp
/taglib/tp_stub.h
/taglib/tp_stub.cpp
/taglib/taglib_config.h
/taglib/taglib.vcxproj.filters
/taglib/taglib.vcxproj
/taglib/propmacros.h
/taglib/ncb_invoke.hpp
/taglib/ncb_foreach.h
/taglib/ncbind.hpp
/taglib/ncbind.cpp
/testflac
